body {
    background: darkslategray;
    display: flex;
    flex-direction: column;
    align-items: center;

}

h1 {
    font-weight: bolder;
    color: #FFFFFF;
}

h2, p {
    margin: 5px 10px;
}

.header, .divider {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #6943FF;
    margin: 10px auto 0 auto;
    width: 500px;
    padding: 20px 40px 40px 40px;
}

.divider {
    margin-top: 0;
    background:#F4F4F4;
    color: #5A537B;
    width: 500px;
    padding: 20px 40px 40px 40px;
}

#input-box {
    width: 80px;
    height: 40px;
    background: #6943FF;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
    color: white;
    font-size: xx-large;
    font-weight: bolder;
}

#convert-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.metrics {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    width: 480px;
    margin: 10px;
    padding: 10px 20px;
}